{% extends 'default.html' %}

{% block title %}
My Weather
{% endblock title %}
{% block content %}
    <h1>Прогноз погоды в любом городе</h1>
    <hr/>
    <h2>Поиск</h2>
    <form method="post" class="weather_form">
        {% csrf_token %}
        <input type="text" id="city" name="city" placeholder="Введите название города" autocomplete="off">
        <button type="submit">получить данные</button>
    </form>
    {% if error_message %}
        <h3 style="color: red;">{{ error_message }}</h3>
    {% endif %}
    <div id="weather">
        {% if weather_data %}
            <h2>Погода в {{ city }}</h2>
            <div class="container_temperature">
                <p>Температура сейчас:</p>
                <p style="color: red;">{{ closest_temperature }}°C</p>
                <div class="date_time">{{ now }}</div>
            </div>
            <h2>Координаты:</h2>
            <div class="container_temperature">
                <p>Широта:</p>
                <p style="color: red;">{{ weather_data.latitude }}</p>
                <p>Долгота:</p>
                <p style="color: red;">{{ weather_data.longitude }}</p>
            </div>
           <h2>Координаты:</h2>
            <div class="container_temperature">
                <p>Подробная локация:</p>
                <p>{{ weather_data.location }}</p>
            </div>
        {% include 'chart_partial.html' %}

        {% endif %}
        {% if last_city %}
        <h2>Последний раз вы смотрели:</h2>
        <div class="container_history">
            <div class="block_history">{{ last_city }}</div>
        </div>
        {% endif %}
        {% if history %}
            <h2>История ваших запросов:</h2>
            <div class="container_history">
                {% for item in history %}
                    <div class="block_history">{{ item.city_name }}</div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock content %}
