{% extends 'default.html' %}

{% block title %}
My Weather
{% endblock title %}
{% block content %}
    <h1>Прогноз погоды в любом городе</h1>
    <form method="post">
        {% csrf_token %}
        <input type="text" id="city" name="city" placeholder="Введите название города" autocomplete="off">
        <button type="submit">получить данные</button>
    </form>
    {% if error_message %}
        <h3 style="color: red;">{{ error_message }}</h3>
    {% endif %}
    <div id="weather">
        {% if weather_data %}
            <h2>Погода в {{ city }}</h2>
            <h2>Координаты:</h2>
            <p>Широта: {{ weather_data.latitude }}</p>
            <p>Долгота: {{ weather_data.longitude }}</p>
            <p>Температура: {{ weather_data.hourly.temperature_2m.0 }}°C</p>
        {% endif %}
        {% if last_city %}
            <p>Последний запрос для: {{ last_city }}</p>
        {% endif %}
        {% if history %}
            <p>История ваших запросов:</p>
            <ul>
                {% for item in history %}
                    <li>{{ item.city_name }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock content %}
